@mixin btn-sl-style {
    width: 10.3rem;
    height: 3.7rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    text-align: center;
    color: white;

}

@mixin btn-style($width:null,
    $height: null,
    $bg-color: null,
    $color: null,
    $radius: null) {
    display: inline-flex; 
    align-items: center;
    justify-content: center;

    width: $width;
    height: $height;
    padding: 1rem 1.5rem;

    background-color: $bg-color;
    color: $color;
    border-radius: $radius;

    cursor: pointer;
    text-align: center;
    
    border: none;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        transform: translateY(1px);
    }
}



