* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



    ul,
    li {
        display: inline-block;
        list-style: none;
    }

    button {
        display: inline-block;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        color: inherit;
        cursor: pointer;
    }

    span {
        display: inline-block;
    }

    a,
    a:visited {
        display: inline-block;
        text-decoration: none;

    }

    a:focus,
    a:active {
        outline: none;
    }

    img {
        display: inline-block;
        vertical-align: top;

    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

}

html {
    height: 100%;
    font-size: 62.5%;
}


body {


    width: 100%;
    max-width: 124rem;
    margin-inline: auto;

}