$bg-hero-color: rgba(232, 219, 132, 1);
$fz-slim-color: rgba(24, 59, 86, 1);
$fz-color: rgba(255, 255, 255, 1);
$bg-btn-color: rgba(5, 42, 68, 1);
$main-font-color: rgba(0, 0, 0, 1);
$border-color : rgba(244, 244, 244, 0.6);
$sm-btn-color-ornj: rgba(246, 197, 102, 1);
$sm-btn-color-grn: rgba(91, 235, 123, 1);
$sm-btn-color-red: rgba(238, 103, 103, 1);
$border-slim-color: rgba(173, 216, 17);
$bg-icon-color: rgba(255, 255, 255, 1);

