@use "../btns" as b;
@use "../mixins" as m;
@use "../variabels" as v;



.about-us {
    max-width: 116.1rem;
    height: 57rem;
    margin: 0 auto;
    text-align: center;

    p {
        line-height: 6rem;
    }
}

.cards {
    @include m.flex-box($justify: space-between);
    gap: 5rem;

    .card {
        background-color: v.$bg-icon-color;
        padding: 1rem;
        max-width: 37.1rem;
        height: 31.4rem;

        h3 {
            margin-top: 2rem;
            @include m.font-style($size: 2.2rem, $weight: 600, $line: 6rem, $letter: 0%, $color: v.$main-font-color);
        }

        p {
            max-width: 26rem;
            max-height: 9rem;
            @include m.font-style($size: 1.5rem, $weight: 400, $line: 180%, $letter: 0%, $color: v.$main-font-color);
        }

        .svg {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            padding: 0.8rem;
            border-radius: 50%;
            background-color: v.$bg-btn-color;
        }
    }
}