@use "../btns" as b;
@use "../mixins" as m;
@use "../variabels" as v;


.wrapper {
    position: relative;
    margin-bottom: 5rem;
    background-color: v.$bg-hero-color;
    width: 100%;
    min-height: 59.8rem;
    @include m.flex-box($justify: space-evenly, $align: center);
    border-radius: 2.9rem;

    .banner {
        position: relative;
        display: flex;
        z-index: 1;

        .window-controls {
            background-color: v.$border-color ;
            backdrop-filter: blur(2rem);
            border-radius: 1.26rem;
            position: relative;
            width: 46.2rem;
            height: 47.4rem;
            @include m.flex-wrap($justify: center, $align: center, $flex-wrap: wrap);
            gap: 2rem;
            z-index: 3;

            .small-button {
                width: 100%;
                height: 2.4rem;
                position: absolute;
                top: 1rem;
                left: 3rem;
                z-index: 2;

                &,
                &::before,
                &::after {
                    width: 1.4rem;
                    height: 1.4rem;
                    border-radius: 50%;
                    display: inline-block;
                }
                background-color: v.$sm-btn-color-ornj;
                &::before {
                    content: "";
                    position: absolute;
                    left: -2rem;
                    background-color: v.$sm-btn-color-red;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 2rem;
                    background-color: v.$sm-btn-color-grn;
                }
            }
        }

        img {
            position: relative;
            z-index: 5;
            border-radius: 1.5rem;
        }

        .tel {
            max-width: 39.2rem;
            max-height: 20.3rem;
        }

        .comp {
            max-width: 15.1rem;
            max-height: 17.6rem;
        }

        .men {
            max-width: 22.3rem;
            max-height: 17.6rem;
        }
    }
}

.circle {
    width: 19.7rem;
    height: 19.7rem;
    border-radius: 50%;
    background-color: v.$bg-btn-color;
    position: absolute;
    top: 32rem;
    left: -4rem;

}

.banner-content {
    max-width: 50%;
    height: 46rem;
    @include m.flex-base($justify: space-between, $align: null, $direction: column);

    p {
        max-width: 51.5rem;
        // @include m.font-style($size: 1.8rem, $weight: 400, $line: 100%, $color: v.$main-font-color);
    }

    ul {
        max-width: 27.7rem;
        height: 19.9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        li {
            width: 27.7rem;
            height: 6rem;
            position: relative;
            padding-left: 6rem;
            @include m.font-style($size: 1.8rem, $weight: 400, $line: 2.6rem, $color: v.$main-font-color);

            &::before {
                content: "";
                position: absolute;
                top: -1.5rem;
                margin-left: -6rem;
                display: block;
                width: 5.3rem;
                height: 5.3rem;
                border-radius: 50%;
                background-image: url('../../images/Mask-icon.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-color: v.$bg-icon-color;
            }
        }
    }
}

.btn {
    @include b.btn-style($width: 17.9rem,
        $height: 5.4rem,
        $bg-color: v.$bg-btn-color,
        $color: v.$fz-color,
        $radius: 0.8rem);
    @include m.font-style($size: 1.6rem, $weight: 600, $line: 100);
}